h2 Live XRP Value
div(ng-repeat="market in orderbooksArray | orderBy:'priority':false")
  h3 -- {{market.name}} --
  .row
    .col-xs-12.col-lg-6.row-padding-small(ng-repeat="(name,gateway) in market.gateways")
      .head
        .row
          .col-xs-12.col-sm-6.name {{name}}
          .col-xs-12.col-sm-6.buttons
            .btn-group
              button.btn.btn-default.btn-sm(
                ng-class="{active : gateway.mode == 'price'}"
                ng-click="gateway.mode = 'price'"
              ) Price
              button.btn.btn-default.btn-sm(
                ng-class="{active : gateway.mode == 'trades'}"
                ng-click="gateway.mode = 'trades'"
              )
                span.label.label-success NEW
                |  Trades
              button.btn.btn-default.btn-sm(
                ng-class="{active : gateway.mode == 'orderbook'}"
                ng-click="gateway.mode = 'orderbook'"
              ) Orderbook

      .prices(ng-show="gateway.mode == 'price'")
        .col-xs-12.col-sm-6
          .value(ng-class="gateway.books.bids.direction")
            div(ng-show="gateway.books.bids.price")
              .way
                span.static 1 {{market.currency}}
                |  can get you&nbsp;
                i.fa.fa-caret-up(ng-show="gateway.books.bids.direction == 'up'")
                i.fa.fa-caret-down(ng-show="gateway.books.bids.direction == 'down'")
                span.dynamic  {{gateway.books.bids.price | rpamount}} XRP
              .contra
                i.fa.fa-caret-up(ng-show="gateway.books.bids.direction == 'down'")
                i.fa.fa-caret-down(ng-show="gateway.books.bids.direction == 'up'")
                span.dynamic {{gateway.books.bids.flipPrice | rpamount}} {{market.currency}}
                |  can get you
                span.static  1 XRP.
            div(ng-hide="gateway.books.bids.price")
              | Loading...
        .col-xs-12.col-sm-6
          .value(ng-class="gateway.books.asks.direction")
            div(ng-show="gateway.books.asks.price")
              .way
                i.fa.fa-caret-up(ng-show="gateway.books.asks.direction == 'down'")
                i.fa.fa-caret-down(ng-show="gateway.books.asks.direction == 'up'")
                span.dynamic {{gateway.books.asks.price | rpamount}} XRP
                |  can get you
                span.static  1 {{market.currency}}
              .contra
                span.static 1 XRP
                |  can get you
                i.fa.fa-caret-up(ng-show="gateway.books.asks.direction == 'up'")
                i.fa.fa-caret-down(ng-show="gateway.books.asks.direction == 'down'")
                span.dynamic  {{gateway.books.asks.flipPrice | rpamount}} {{market.currency}}
            div(ng-hide="gateway.books.asks.price")
              | Loading...

      .col-xs-12.trades(ng-show="gateway.mode == 'trades'")
        ul.trades
          li.row
            .col-xs-4 Time
            .col-xs-4 Amount (XRP)
            .col-xs-4 Price ({{market.currency}})
          li.row.data(ng-repeat="trade in gateway.trades")
            .col-xs-4 {{trade.time | date:'h:mm:ss'}}
            .col-xs-4 {{trade.amount | rpamount}}
            .col-xs-4 {{trade.price | rpamount}}
          li.data(ng-hide="gateway.trades.length")
            | No trades so far...

      .col-xs-12.orderbook(ng-show="gateway.mode == 'orderbook'")
        .row
          .bids.col-xs-12.col-sm-6
            .title Bids
            .row.headings(ng-show="gateway.books.bids.orders.length")
              .col-xs-4.sum Sum
                .currency {{book.bids[0].TakerPays | rpcurrency}}
              .col-xs-4.size Size
                .currency {{book.bids[0].TakerPays | rpcurrency}}
              .col-xs-4.price Bid Price
                .currency {{book.bids[0].TakerGets | rpcurrency}}
            .row(ng-repeat='order in gateway.books.bids.orders track by $index')
              .col-xs-4.rpamount.sum(rp-bind-color-amount="order.showSum")
              .col-xs-4.rpamount.size(rp-bind-color-amount="order.showTakerPays")
              .col-xs-4.rpamount.price(rp-bind-color-amount="order.showPrice")
          .asks.col-xs-12.col-sm-6
            .title Asks
            .row.headings(ng-show="gateway.books.asks.orders.length")
              .col-xs-4.price Ask Price
                .currency {{book.asks[0].TakerPays | rpcurrency}}
              .col-xs-4.size Size
                .currency {{book.asks[0].TakerGets | rpcurrency}}
              .col-xs-4.sum Sum
                .currency {{book.asks[0].TakerGets | rpcurrency}}
            .row(ng-repeat='order in gateway.books.asks.orders track by $index')
              .col-xs-4.rpamount.price(rp-bind-color-amount="order.showPrice")
              .col-xs-4.rpamount.size(rp-bind-color-amount="order.showTakerGets")
              .col-xs-4.rpamount.sum(rp-bind-color-amount="order.showSum")
.pageLoading(ng-hide="orderbooksArray") Loading ...